.terras {


    // basic starts
    .global-mx-padding{
        padding-left: 76px;
        padding-right: 76px;
    }
    .container, .container-fluid{
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }
    .global-border-radius-all{
        @include border-radius(40px);
    }
    .overflow-hidden{
        overflow: hidden;
    }
    .pos-relative{
        position: relative;
    }
    .section-gap-tyep-1{
        margin-bottom: 115px;
    }

    .global-card-content, .inset-card-content{
        &.view-1{
            padding: 50px;
        }
    }

    .grid-flex-v-align-center{
        align-items: center;
    }
    .grid-flex-v-align-start{
        align-items: start;
    }
    .grid-flex-v-align-ends{
        align-items: end;
    }

    .jc-center{
        justify-content: center;
    }
    .jc-right{
        justify-content: right;
    }
    .jc-left{
        justify-content: left;
    }

    .my-row{
        &.has-margin-bottom{
            &:last-child{
                margin-bottom: 0px !important;
            }
        }
        &.custom-row-lg{
            margin-left: -37px;
            margin-right: -37px;
            column-gap: 74px;
            row-gap: 74px;

            &.has-margin-bottom{
                margin-bottom: 74px;
            }
        }
    }
    .inset-container-type-1{
        max-width: 1487px;
    }
    // basic ends

    // global-iconic-link starts
    .global-iconic-link{
        a{
            display: flex;
            column-gap: 20px;
            align-items: center;
            font-size: 22px;
            line-height: normal;
            letter-spacing: 0.44px;
            font-family: var(--site-secondary-font);
            font-weight: normal;

            
        }
    }
    // global-iconic-link ends

    // typography
    h1, h2, h3,h4,h5,h6{
        font-family: var(--site-secondary-font);
        font-weight: normal;
    }
    h1{
        font-size: 60px;
        line-height: 80px;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 36px;
        line-height: 52px;
        letter-spacing: 0.72px;
        margin-bottom: 20px;
    }
    h6{
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.4px;
        margin-bottom: 20px;
    }
    p{
        &.lg-para{
            font-size: 35px;
            letter-spacing: 0.7px;
            line-height: 50px;
        }
    }
    // typography

    // site btn
    .group-btn{
        display: flex;
        column-gap: 30px;
        row-gap: 30px;
        align-items: center;
    }
    .site-btn{
        display: inline-block;
        padding: 19px 74px 19px 21px;
        font-size: 22px;
        line-height: normal;
        color: white;
        font-family: var(--site-secondary-font);
        font-weight: normal;
        @include border-radius(50px);
        border: 1px solid transparent;
        background-image: url(../Images/next-arrow-type-1-white.svg);
        background-repeat: no-repeat;
        background-position: right 21px center;
        background-size: 34.83px;
       

        &.primary-color-btn{
            background-color: var(--site-primary-color);
        }
        &.outline-btn{
            background-color: rgba($color: #000000, $alpha: 0.1);
            border-color: white;
            backdrop-filter: blur(30px);
            -webkit-backdrop-filter: blur(30px);
        }
    }
    // site btn


    // traingle-watermark-has
    .traingle-watermark-has{
        &.traingle-view-1{
            .the-mask-img{
                position: absolute;
                right: 0px;
                top: 0px;
                width: 34vw;
                pointer-events: none;
                opacity: 0;
            }

            .mask-it {
                -webkit-mask-image: url(../Images/traingle-shape-banner-video-part.svg);
                mask-image: url(../Images/traingle-shape-banner-video-part.svg);
                mask-size: 34vw;
                mask-repeat: no-repeat;
              }
        }
    }
    // traingle-watermark-has

    // page-banner-module
    .page-banner-module{
        &.height-view-1{
            height: calc(100vh - (var(--header-height) + var(--grid-gutter)));
        }

        .page-banner-video-item{
            position: relative;
            height: 100%;
            width: 100%;

            

            

            video{
                &.clone-video{
                    filter: blur(16px);
                    -webkit-filter: blur(16px);
                }
            }

            .ratio{

                &.landscape{
                    & > *{
                        min-width: 100%;
                        min-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                
            }

            
            .overlay-1{
                width: 100%;
                height: 100%;
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                content: ' ';
                background: transparent linear-gradient(158deg, #00000010 0%, #02030476 45%, #C941208B 100%) 0% 0% no-repeat padding-box;
                opacity: 0.72;
                z-index: 60;

            }
            .overlay-2{
                width: 100%;
                height: 100%;
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                content: ' ';
                background: transparent linear-gradient(158deg, #00000010 0%, #02030476 45%, #C941208B 100%) 0% 0% no-repeat padding-box;
                opacity: 0.72;
                z-index: 50;

            }
        }

        .banner-context-item{
            position: absolute;
            left: 0px;
            bottom: 0px;
            z-index: 100;
            padding-top: 80px;
            padding-bottom: 80px;

            .normal-text-element-module{
                max-width: 70%;
            }
            
        }

        .banner-mini-slider-module{
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 100;
            padding-top: 80px;
            padding-bottom: 80px;

            .slick-dots{
                position: absolute;
                list-style: none;
                margin: 0px;
                padding: 0px;
                display: flex;
                column-gap: 7px;
                row-gap: 7px;
                left: 142px;
                bottom: 0px;

                li{
                    margin: 0px;
                    padding: 0px;
                    &.slick-active{
                        button{
                            background-color: var(--site-primary-color);
                        }
                    }
                    button{
                        width: 18px;
                        height: 7px;
                        border: none;
                        font-size: 0px;
                        padding: 0px;
                        margin: 0px;
                        background-color: var(--site-grey-type-2);
                        @include border-radius(15px)
                    }
                }
            }

            .main-slider-holder{
                background-color: white;
                padding: 14px;
                width: 398px;
            }

            .slider-item{
                .item-wrap{
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    row-gap: 20px;

                    .context{
                        h6{
                            margin-bottom: 0px;
                        }
                    }

                    .bild{
                        width: 120px;
                        height: 125px;
                        @include border-radius(30px);
                        overflow: hidden;

                        &.set-back{
                            background-size: cover;
                            background-position: center top;
                            background-repeat: no-repeat;
                            & > img{
                                width: 100%;
                                height: auto;
                                display: block;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    // page-banner-module

    // cover-bg-content-module
    .cover-bg-content-module{
        &.set-back{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            & > .set-back-item{
                width: 100%;
                height: auto;
                display: block;
                opacity: 0;
            }
        }

        .the-context{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            display: grid;
            align-items: center;
            z-index: 1;
        }
    }
    // cover-bg-content-module

}