.terras{

    footer.footer{
        & > .main-wrap{
            background-image: url(../Images/footer-bg.svg);
            background-size: cover;
            background-position: left top;
            background-repeat: no-repeat;
        }
    }
	
	
}