.terras{

    footer.footer{
        & > .main-wrap{
            background-image: url(../Images/footer-bg.svg);
            background-size: cover;
            background-position: left top;
            background-repeat: no-repeat;
        }

        .logo-stamp{
            @include transition(all 0.3s ease 0s);
            transform-origin: center center;
            pointer-events: auto;

            &:hover{
                transform: rotate(14deg);
            }
        }

        .footer-social-connect-links-parent{
            height: 68px;
            display: grid;
            align-items: center;
        }

        .footer-social-connect-links{
            display: flex;
            align-items: center;
            column-gap: 12px;

            a{
                width: 50px;
                height: 50px;
                @include border-radius(100%);
                background-color: white;
                display: grid;
                align-items: center;
                justify-content: center;
            }
        }

        .main-footer-item-holder{
            padding-top: 35px;
            padding-bottom: 10px;
        }

        .site-logo-holder{
            padding-top: 35px;
        }

        .footer-contact-info{
            .global-iconic-link{
                margin-bottom: 35px;
                &:last-child{
                    margin-bottom: 0px;
                }

                i{
                    @include transition(all 0.3s ease 0s);
                }

                // &:hover{
                //     i{
                //         background-color: var(--site-primary-color);
                //     }
                // }
            }
        }

        .footer-menu{
            .entry{
                li{
                    line-height: normal;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            .the-menu{
                list-style: none;
                margin: 0px;
                padding: 0px;

                li{
                    padding: 0px;
                }
            }
        }

        .terry-img{
            position: absolute;
            right: -34px;
            top: -82px;
            z-index: 100;
        }

        .terry-slogan{
            padding-left: 15px;
        }
       

        .footer-social{
            padding-top: 0px;

            .strip{
                padding: 8px 10px;
                background-color: var(--site-grey-type-3);
                @include border-radius(40px);
                display: flex;
                align-items: center;
                column-gap: 20px;
                min-width: 520px;
                position: relative;
                z-index: 1;

                .strip-item{
                    margin-left: auto;
                }

                

                .strip-head{
                    font-size: 26px;
                    letter-spacing: 0.52px;
                    line-height: normal;
                    font-family: var(--site-secondary-font);
                }

                
            }
        }

        

        .footer-copy-right-info{
            padding: 50px 0;
            border-top: 1px solid rgba($color: #3C4646, $alpha: 0.28);
        }

    }
	
	
}