// from low resolution desktop
@media screen and (max-width: ($lowResDesktopEnds - 1px)) {
    .terras {

        // basic
        .container,
        .container-fluid {
            padding-left: 10px;
            padding-right: 10px;
        }

        .ms-auto {
            &.ms-auto-till-lowdesktop-ends {
                margin-left: inherit !important;
                // &.global-mx-margin{
                //     margin-left: $global-mx-padding-low-desktop !important;
                // }
            }
        }

        // basic

        // header
        header.header {
            &>.container-fluid {
                &>.main-header-item-holder {
                    &.global-mx-padding {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }

            .header-service-part {
                column-gap: 15px;
            }
        }

        // header

        // interactive-map-module
        .interactive-map-module {

            // .append-reponsive-map-frame-type-2{
            //     .the-main-map{
            //         margin-top: 50px;
            //     }
            //     .global-carousel{
            //         &.type-arrow-pagination-view-1{
            //             .slider-arrow-holder{
            //                 justify-content: left;
            //             }
            //         }
            //     }
            // }
            &:not(.responsive-map-position-change-type-2).view-1 {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .the-main-map {
                display: grid;
                justify-content: center;

                .map-holder {
                    position: relative;
                }

                &.pos-1 {
                    position: relative;
                    right: inherit;
                    left: inherit;
                }
            }
        }

        // interactive-map-module


    }
}


// for tab mobile
@media screen and (max-width: ($xl - 1px)) {
    .terras {
        padding-top: calc(var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter));

        // site-form-style-1
        .site-form-style-1{
            .field-rule{
                font-size: 15px;
            }
            .main-field{
                width: 100%;
                height: 47px;
                padding: 0 25px;
                &.has-field-iconic-item{
                    padding-right: 45px;

                    .the-icon-item{
                        width: 38px;
                        height: 38px;
                        margin-top: -19px;
                        right: 5px;

                        &.submit-icon{
                            background-size: 22.57px;
                        }
                    }
                }
            }
        }
        // site-form-style-1
        

        // basic

        .mobile-mb-0{
            margin-bottom: 0px !important;
        }

        .mobile-jc-center{
            justify-content: center;
        }

        .ms-auto{
            &.mobile-reset-ms-auto{
                margin-left: initial !important;
            }
        }

        .element-gap{
            &.mobile-element-gap-tiny{
                margin-bottom: 5px;
            }
            &.mobile-element-gap-xs{
                margin-bottom: 10px;
            }
            &.mobile-element-gap-sm{
                margin-bottom: 30px;
            }
            &.mobile-element-gap-medium{
                margin-bottom: 40px;
            }
        }

        .mobile-full-height-remove{
            &.full-height{
                height: auto;
            }
        }


        .mobile-view-pad-all {
            padding: 50px;
        }

        .mobile-view-pad-all-sm {
            padding: 25px;
        }

        .mobile-view-pad-xs {
            padding: 10px;
        }

        .mobile-view-pad-left-right {
            padding-left: 50px;
            padding-right: 50px;
        }

        .mobile-view-pad-top-bottom {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .mobile-view-pad-top-bottom-sm {
            padding-top: 20px;
            padding-bottom: 20px;
        }


        .mobile-reset-global-mx-padding {
            padding-left: 0px;
            padding-right: 0px;
        }

        .mobile-global-mx-padding {
            padding-left: 20px;
            padding-right: 20px;
        }

        .mobile-global-mx-padding-lg {
            padding-left: 30px;
            padding-right: 30px;
        }

        .global-border-radius-all {
            @include border-radius (20px);
        }
        .global-border-radius-all-sm{
            @include border-radius (14px);
        }

        .global-border-radius-topLeft-topRight{
            @include border-radius (20px 20px 0 0);
        }

        .mobile-section-gap-default {
            margin-bottom: var(--mobile-row-gap-global);
        }

        .mobile-section-gap-avg {
            margin-bottom: 40px;
        }

        .mobile-section-gap-md {
            margin-bottom: 20px;
        }

        .my-row, .default-row{
            .half-height{
                &.half-height-mobile-50{
                    height: auto;
                }
            }
        }

        .my-row {
            margin-left: -5px;
            margin-right: -5px;
            row-gap: 15px;


            &.default-row {
                row-gap: 15px;
            }

            &.mobile-row-gap-as-col{
                row-gap: 10px;
            }

            &.mobile-row-gap-lg{
                row-gap: 20px;
            }

            &>.my-col {
                padding-left: 5px;
                padding-right: 5px;
            }

            &.mobile-row-gap-avg {
                row-gap: 40px;
            }

            &.has-margin-bottom {
                margin-bottom: var(--mobile-row-gap-global);
            }
        }

        .mobile-text-center {
            text-align: center;
        }

        // line info module
        .line-info-module{
            & > .main-wrap{
                font-size: 12px;
                letter-spacing: 0.24px;
            }
        }
        // line info module

        // typography
        h1 {
            font-size: 36px;
            line-height: 45px;
            letter-spacing: 0.72px;

            &.special-lg{
                font-size: 77px;
                line-height: 104px;
                letter-spacing: 1.54px;
            }
        }

        h2 {
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 0.5px;

            &.lg{
                font-size: 30px;
                line-height: 40px;
                letter-spacing: 0.6px;
            }
        }
        
        h3{
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.5px;
        }

        h4 {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.36px;
        }

        h5 {
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.36px;
        }

        h6 {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.32px;
            &.lg{
                font-size: 18px;
                line-height: 36px;
                letter-spacing: 0.36px;
            }
        }

        p, .entry li {
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            margin-bottom: 25px;
        }

        // iconic-text-widget-module
        .iconic-text-widget-module {
            .entry {
                h5 {
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: 0.4px;
                }
            }
        }

        // iconic-text-widget-module


        // site-btn
        .site-btn {
            font-size: 15px;
            padding: 13px 64px 13px 20px;
            background-size: 24.17px;
            background-position: right 16px center;
        }

        // header
        header.header {

            .main-header-item-holder {
                height: calc(var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter));
            }
        }

        .site-logo-holder {
            .logo-part {
                padding: 0px;
                border: none;

                &.logo-caption {
                    display: none;
                }

                &.primary-logo {
                    img {
                        max-width: 82px;
                    }
                }
            }
        }

        .header-service-part {
            .service-part {
                &.global-iconic-link {
                    i {
                        img {
                            max-width: 20px;
                        }
                    }

                    span {
                        display: none;
                    }
                }

                &.header-menu-trigger {
                    .the-trigger {
                        width: 31.63px;
                        height: 21.31px;
                        background-size: 31.63px;
                    }
                }
            }
        }

        .site-essential-links {
            ul {
                font-size: 15px;
                column-gap: 14px;

                li {
                    a {
                        margin-right: 14px;
                    }
                }
            }
        }

        .main-menu-expanded {
            background-color: white;
            background-image: none;

            .menu-close {
                .global-action-icon {
                    width: 43px;
                    height: 43px;
                }
            }

            .menu-items {
                height: calc(100vh - 210px);

                ul {
                    li {
                        font-size: 26px;
                        letter-spacing: 0.52px;
                        margin-bottom: 30px;

                        &.has-external-link {
                            &>a {
                                &:after {
                                    width: 33.25px;
                                    height: 33.25px;
                                    background-size: 33.25px;
                                }
                            }
                        }
                    }
                }
            }

            .item-holder {
                padding: 10px;

                &>.main-wrap {
                    padding: 15px 15px 30px 30px;
                    min-width: inherit;
                    width: 100%;
                }
            }
        }

        // header

        // page-banner-module
        .page-banner-module {
            &+.banner-mini-slider-module {
                position: static;
                padding: 0px;
                margin-top: var(--mobile-row-gap-global);

                .main-slider-holder {
                    padding: 10px;
                }

                .slick-dots {
                    left: 118px;
                    column-gap: 10px;
                    row-gap: 10px;

                    li {
                        button {
                            width: 15px;
                            height: 4px;
                        }
                    }
                }

                .main-slider-holder {
                    width: 100%;
                }

                .slider-item {
                    .context {
                        h4 {
                            font-size: 23px;
                            line-height: 33px;
                            letter-spacing: 0.46px;
                        }
                    }

                    .item-wrap {
                        column-gap: 17px;
                        row-gap: 17px;

                        .bild {
                            width: 102px;
                            height: 106px;
                            @include border-radius(20px);
                        }
                    }
                }
            }

            &.height-view-1 {
                height: calc(100vh - (var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter)));
            }

            .banner-context-item {
                text-align: center;
                width: 100%;
                padding-top: 30px;
                padding-bottom: 30px;

                .normal-text-element-module {
                    max-width: inherit;

                    .group-btn {
                        flex-direction: column;
                        row-gap: 15px;

                        .site-btn {
                            width: 100%;
                        }
                    }
                }
            }
        }

        // page-banner-module

        // logo-stamp
        .logo-stamp {
            &.pos1 {
                &.mobile-view-1 {
                    bottom: -40px;

                    img {
                        max-width: 120px;
                    }
                }
            }
        }

        // logo-stamp

        // cover-bg-content-module
        .cover-bg-content-module {
            &.mobile-cover-area-depnds-content {
                img {
                    &.set-back-item {
                        display: none;
                    }
                }
            }
        }

        // cover-bg-content-module

        // convert-to-mobile-slider-wrap
        .convert-to-mobile-slider-wrap {
            .convert-to-mobile-slider {
                .slick-list {
                    margin-left: -8px;
                    margin-right: -8px;
                    padding-right: 60px;
                    padding-left: 16px;
                }

                .my-col {
                    padding-left: 8px !important;
                    padding-right: 8px !important;
                }
            }
        }

        // convert-to-mobile-slider-wrap

       
        // team-member-video-teaser-module
        .team-member-video-teaser-module {
            margin-top: 30px;

            .team-member-video-teaser-snippet {
                &>.my-row {
                    &>.my-col:nth-child(2n) {
                        top: -30px;
                    }
                }
            }
        }

        // team-member-video-teaser-module

        // global-light-video-player
        .global-light-video-player {
            .video-trigger {
                i {
                    width: 42px;
                    height: 42px;

                }
            }
        }

        // global-light-video-player

        // .global-logo-badge
        .global-logo-badge {
            @include border-radius (14px);

            &.pos-1 {
                left: 9px;
                bottom: 9px;
            }

            &>.main-wrap {
                width: 95px;
                height: 58px;
            }
        }

        // .global-logo-badge

        // global-date-badge
        .global-date-badge {
            &.pos-1 {
                top: 12px;
                right: 10px;
            }

            &>div {
                padding: 5px 11px;

                span {
                    img {
                        max-width: 12px;
                    }
                }

                i {
                    font-size: 12px;
                }
            }
        }

        // global-date-badge

        // global-carousel
        .global-carousel {
            .slider__counter {
                font-size: 21px;
                letter-spacing: 0.42px;
                column-gap: 14px;
            }

            .slick-arrow {
                width: 29.2px;
                height: 21.78px;
                background-size: 29.2px;
            }

            &.type-arrow-pagination-view-1 {
                .global-carousel-slider-navigate-wrap {
                    margin-top: 30px;
                }

                .slider-arrow-holder {
                    justify-content: center;
                    column-gap: 30px;
                }
            }

            &.type-arrow-pagination-view-2 {
                padding: 0px;
            }
        }

        // global-carousel

        // interactive-map-module
        .interactive-map-module {
            .pointer {
                .trigger {
                    width: 11.81px;
                    height: 13.21px;
                    background-size: 11.81px;
                }
            }
        }

        // interactive-map-module

        // footer
        footer.footer{
            .footer-social{
                padding-top: 87px;
                .strip{
                    padding: 20px;
                    @include border-radius(20px);
                    column-gap: 28px;
                    justify-content: center;
                    .strip-item{
                        column-gap: 23px;
                        margin-left: inherit;
                        img{
                            max-width: 17px;
                        }
                    }
                    .strip-head{
                        font-size: 15px;
                        letter-spacing: 0.3px;
                    }
                }
            }
            .terry-slogan{
                top: 55px;
                left: 5px;
                img{
                    max-width: 96px;
                }
            }

            .terry-img{
                right: -53px;
                img{
                    max-width: 148px;
                }
            }
            .footer-social{
                .strip{
                    min-width: 100%;
                }
            }
            .site-logo-holder{
                display: block;
                padding-top: 20px;
                .logo-part{
                    &.logo-caption{
                        display: block;
                        border-top: 1px solid rgba($color: #3C4646, $alpha: 0.49);
                        font-size: 11px;
                        line-height: normal;
                        padding-top: 10px;
                        margin-top: 10px;
                        text-align: center;
                    }
                }
            }
            .footer-contact-info{
                .global-iconic-link{
                    margin-bottom: 5px;
                }
            }
            .main-footer-item-holder{
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .site-logo-holder{
                .logo-part{
                    &.primary-logo{
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        // footer

        // global-iconic-link
        .global-iconic-link{
            a{
                font-size: 15px;
                line-height: normal;
                letter-spacing: 0.3px;
                column-gap: 12px;

                i{
                    img{
                        max-width: 30px;
                    }
                }
            }
            &.view-2{
                
                i{
                    width: 30px;
                    height: 30px;

                    img{
                        max-width: 14px;
                    }
                }
                a{
                    font-size: 19px;
                    letter-spacing: 0.38px;
                    column-gap: 9px;
                }
            }
        }
        // global-iconic-link

        // bredcrumb-module
        .bredcrumb-module{
            ul{
                column-gap: 10px;
                li{
                    font-size: 16px;
                    letter-spacing: 0.32px;

                    a{
                        margin-right: 10px;
                    }
                }
            }
        }
        // bredcrumb-module

        // graph-module
        .graph-module{
            display: block;
            
            & > .main-wrap{
                column-gap: 0px;
                margin-left: -10px;
                margin-right: -10px;
                height: calc(100% - 7px);

                & > div{
                    padding: 0 10px;
                    flex-grow: 1;

                    span{
                        font-size: 10px;
                        letter-spacing: 0.2px;
                        line-height: 17px;
                    }

                    & > div{
                        width: 100%;
                        @include border-radius (20px 20px 0 0);
                    }
                }
            }
        }
        // graph-module

        // global-oval-icon-holder
        .global-oval-icon-holder{
            &.view-2{
                & > div{
                    width: 50px;
                    height: 65px;

                    img{
                        max-width: 26px;
                    }
                }
            }

            &.heading-type{
                column-gap: 8px;
                row-gap: 8px;

                .the-heading{
                    h2{
                        &.md{
                            font-size: 22px;
                            letter-spacing: 0.44px;
                            line-height: normal;
                        }
                    }
                }
            }
        }
        // global-oval-icon-holder

        // global-absolute-item
        .global-absolute-item{
            .type-1{
                padding: 15px;
            }
        }
        // global-absolute-item
       





    }
}

// for tab mobile

// from less lowsesktop to tab
@media screen and (max-width: ($xl - 1px)) and (min-width: $md) {
    .terras {
        // graph-module
        .graph-module{
            height: 200px;
        }
        // graph-module
    }
}

// for mobile only
@media screen and (max-width: ($md - 1px)) {
    .terras {
        // graph-module
        .graph-module{
            height: 134px;
        }
        // graph-module
    }
}