// from low resolution desktop
@media screen and (max-width: ($lowResDesktopEnds - 1px)) {
    .terras {

        // basic
        .container,
        .container-fluid {
            padding-left: 20px;
            padding-right: 20px;
        }

        .ms-auto {
            &.ms-auto-till-lowdesktop-ends {
                margin-left: inherit !important;
                // &.global-mx-margin{
                //     margin-left: $global-mx-padding-low-desktop !important;
                // }
            }
        }

        // basic

        // header
        header.header {
            &>.container-fluid {
                &>.main-header-item-holder {
                    &.global-mx-padding {
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
            }

            .header-service-part {
                column-gap: 15px;
            }
        }

        // header

        // interactive-map-module
        .interactive-map-module {


            &:not(.responsive-map-position-change-type-2).view-1 {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .the-main-map {
                display: grid;
                justify-content: center;

                .map-holder {
                    position: relative;
                }

                &.pos-1 {
                    position: relative;
                    right: inherit;
                    left: inherit;
                }

                &.pos-2 {
                    .map-holder {
                        max-width: 88%;
                    }
                }
            }
        }

        // interactive-map-module


    }
}


// for tab mobile
@media screen and (max-width: ($xl - 1px)) {
    .terras {
        padding-top: calc(var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter));



        .ce-image{
            .ce-gallery[data-ce-columns="4"]{
                .ce-outer{
                    width: 100%;
                    position: static;
                    float: none;
                    .ce-inner{
                        position: static;
                        float: none;

                        .ce-row{
                            margin: 0 -10px 20px -10px;
                            display: flex;
                            row-gap: 20px;
                            flex-wrap: wrap;
                            .ce-column{
                                margin: 0px;
                                padding: 0 10px;
                                width: 50%;

                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }


        // basic
        .page-main-title {
            padding-top: 20px;
        }

        // basic


        // site-form-style-1
        .site-form-style-1 {
            .field-rule {
                font-size: 15px;
            }

            .main-field {
                width: 100%;
                height: 47px;
                padding: 0 25px;

                &.has-field-iconic-item {
                    padding-right: 45px;

                    .the-icon-item {
                        width: 38px;
                        height: 38px;
                        margin-top: -19px;
                        right: 5px;

                        &.submit-icon {
                            background-size: 22.57px;
                        }
                    }
                }
            }
        }

        // site-form-style-1

        // line-info-module
        .line-info-module {
            &.typo-2 {
                &>.main-wrap {
                    font-family: var(--site-primary-font);
                    font-weight: var(--site-primary-font-regular);
                }
            }
        }

        // line-info-module



        // basic



        img {
            &.tab-mobile-full-width-img {
                width: 100%;
                height: auto;
            }
        }

        .mobile-mb-0 {
            margin-bottom: 0px !important;
        }

        .mobile-jc-center {
            justify-content: center;
        }

        .ms-auto {
            &.mobile-reset-ms-auto {
                margin-left: initial !important;
            }
        }

        .element-gap {
            &.mobile-element-gap-tiny {
                margin-bottom: 5px;
            }

            &.mobile-element-gap-xs {
                margin-bottom: 10px;
            }

            &.mobile-element-gap-sm {
                margin-bottom: 30px;
            }

            &.mobile-element-gap-medium {
                margin-bottom: 40px;
            }

            &.element-gap-8 {
                margin-bottom: 15px;
            }
        }

        .mobile-full-height-remove {
            &.full-height {
                height: auto;
            }
        }


        .mobile-view-pad-all {
            padding: 50px;
        }

        .mobile-view-pad-all-sm {
            padding: 25px;
        }

        .mobile-view-pad-xs {
            padding: 10px;
        }

        .mobile-view-pad-left-right {
            padding-left: 50px;
            padding-right: 50px;
        }

        .mobile-view-pad-top-bottom {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .mobile-view-pad-top-bottom-sm {
            padding-top: 20px;
            padding-bottom: 20px;
        }


        .mobile-reset-global-mx-padding {
            padding-left: 0px;
            padding-right: 0px;
        }

        .mobile-reset-global-mx-margin {
            margin-left: 0px;
            margin-right: 0px;
        }

        .mobile-global-mx-padding {
            padding-left: 20px;
            padding-right: 20px;
        }

        .mobile-global-mx-padding-lg {
            padding-left: 30px;
            padding-right: 30px;
        }

        .mobile-global-mx-padding-xs {
            padding-left: 10px;
            padding-right: 10px;
        }

        .global-border-radius-all {
            @include border-radius (20px);
        }

        .global-border-radius-all-sm {
            @include border-radius (14px);
        }

        .global-border-radius-topLeft-topRight {
            @include border-radius (20px 20px 0 0);
        }

        .mobile-section-gap-default {
            margin-bottom: var(--mobile-row-gap-global);
        }

        .small-image-teaser-mobile {
            max-width: 145px;
            margin: 0 auto;
        }

        .mobile-section-gap-avg {
            margin-bottom: 50px;

            &.section-gap-tyep-12 {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0px !important;
            }
        }

        .mobile-section-gap-md {
            margin-bottom: 20px;
        }

        .my-row,
        .default-row {
            .half-height:not(.keep-half-height-tab-mobile) {
                &.half-height-mobile-50 {
                    height: auto;
                }
            }
        }



        .my-row {
            margin-left: -5px;
            margin-right: -5px;
            row-gap: 15px;






            &.default-row {
                row-gap: 15px;

                &.special-collage-grid-layout {
                    row-gap: 20px;

                    .normal-text-element-module {
                        img {
                            max-width: 105px;
                            max-height: 190px;
                        }
                    }
                }



                .distributing-height-tab-mobile-normal {
                    min-height: 190px;
                    height: auto;

                    &.fx-height-type-1 {
                        height: 190px;
                    }

                    &.stand-alone {
                        .normal-text-element-module {
                            img {
                                max-width: 160px;
                                max-height: 190px;
                            }
                        }
                    }
                }


                &.mobile-lg-grid {
                    margin-left: -10px;
                    margin-right: -10px;
                    row-gap: 20px;

                    &>.my-col {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }

            &.mobile-row-gap-as-col {
                row-gap: 10px;
            }

            &.mobile-row-gap-lg {
                row-gap: 20px;
            }

            &.mobile-row-gap-lg-double {
                row-gap: 40px;
            }

            &>.my-col {
                padding-left: 5px;
                padding-right: 5px;
            }

            &.mobile-row-gap-avg {
                row-gap: 40px;
            }

            &.has-margin-bottom {
                margin-bottom: var(--mobile-row-gap-global);
            }
        }

        .mobile-text-center {
            text-align: center;
        }

        // basic-content-carousel
        .basic-content-carousel {
            .slick-list {
                overflow: visible;
            }
        }

        // basic-content-carousel

        // filter-tag-module
        .filter-tag-module {
            &>.main-wrap {
                font-size: 15px;
                column-gap: 10px;
                row-gap: 15px;

                span {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

        // filter-tag-module




        // line info module
        .line-info-module {
            &>.main-wrap {
                font-size: 12px;
                letter-spacing: 0.24px;
            }

            &.lg {
                &>.main-wrap {
                    font-size: 15px;
                    letter-spacing: 0.3px;
                }
            }
        }

        // line info module

        // typography
        h1 {
            font-size: 36px;
            line-height: 45px;
            letter-spacing: 0.72px;

            &.lg{
                font-size: 8vw;
            }

            &.special-lg {
                font-size: 77px;
                line-height: 104px;
                letter-spacing: 1.54px;

                &.view-2 {
                    font-size: 77px;
                    line-height: 104px;
                    letter-spacing: 1.54px;
                }
            }
        }

        h2 {
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 0.5px;

            // &.lg{
            //     font-size: 30px;
            //     line-height: 40px;
            //     letter-spacing: 0.6px;
            // }

            // &.md{
            //     font-size: 25px;
            //     line-height: 34px;
            //     letter-spacing: 0.5px;
            // }



            // &.md-less{
            //     font-size: 18px;
            //     line-height: 26px;
            //     letter-spacing: 0.36px;
            // }
        }

        h3 {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.5px;
        }

        h4 {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.36px;

            // &.md{
            //     font-size: 16px;
            //     line-height: 20px;
            // }
        }

        h5 {
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.36px;
        }

        h6 {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.32px;
            // &.lg{
            //     font-size: 18px;
            //     line-height: 36px;
            //     letter-spacing: 0.36px;
            // }
        }

        p,
        .entry li {
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            margin-bottom: 25px;
        }

        // iconic-text-widget-module
        .iconic-text-widget-module {
            .entry {
                h5 {
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: 0.4px;
                }
            }
        }

        // iconic-text-widget-module


        // site-btn
        .site-btn,
        .btn {
            font-size: 15px;
            padding: 14px 64px 14px 20px;
            background-size: 24.17px;
            background-position: right 16px center;

            &.only-placed-arrow-btn {
                width: 60px;
                height: 45px;
            }

            &.down-arrow-btn {
                background-size: 18px;
                background-position: right 16px center;
            }

            &.reload-btn {
                background-size: 17.81px;
                background-position: right 15px center;
            }

            &.back-btn {
                padding: 13px 20px 13px 64px;
            }
        }

        // header
        header.header {

            .main-header-item-holder {
                height: calc(var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter));
            }


            .site-logo-holder {
                &.layout-2 {
                    column-gap: 7px;

                    .logo-caption {
                        span {
                            letter-spacing: 1px;
                            font-size: 10px;
                            padding: 3px;
                            border-radius: 5px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }

                .logo-part {
                    padding: 0px;
                    border: none;

                    &.logo-caption {
                        display: none;
                    }

                    &.primary-logo {
                        img {
                            max-width: 82px;
                        }
                    }
                }
            }

            .header-service-part {
                &.layout-2 {
                    column-gap: 14px;
                    .global-iconic-link{
                        margin-left: 0px;
                    }

                    .service-part{
                        &.global-iconic-link{
                            i{
                                img{
                                    max-width: 17px;

                                    &.mobile-sm{
                                        max-width: 8px;
                                    }
                                }
                            }
                        }
                    }
                }

                .service-part {
                    &.global-iconic-link {
                        i {
                            img {
                                max-width: 20px;
                            }
                        }

                        span {
                            display: none;
                        }


                    }

                    &.header-menu-trigger {
                        &.layout-2{
                            margin-left: 4px;
                        }
                        .the-trigger {
                            width: 31.63px;
                            height: 21.31px;
                            background-size: 31.63px;
                        }
                    }
                }
            }



            .main-menu-expanded {
                background-position: left 45% top;
                background-color: white;
                background-size: 450%;

                &.mobile-sub-menu-open{

                    .menu-close {
                        .back-link-to-parent-menu{
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                   
                    .item-holder{
                        // padding: 0px;

                        .menu-items-wrap{
                            max-height: inherit;
                            overflow: inherit;
                        }
                    }

                    
                }

                .item-global-mx-padding {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .global-item-part {
                    border: none;

                    &.lg-part {
                        width: 100%;
                    }

                    &.sm-part {
                        width: 100%;
                    }
                }

                .menu-close {
                        position: fixed;
                        z-index: 200;
                        width: 100%;
                        left: 0px;
                        top: 0px;
                        padding: 25px;
                        display: flex;
                        align-items: center;
                        .back-link-to-parent-menu{
                            font-size: 15px;
                            font-weight: var(--site-primary-font-bold);
                            padding-left: 40px;
                            background-image: url(../Images/left-indication-arrow-dark.svg);
                            background-repeat: no-repeat;
                            background-position: left center;
                            background-size: 20.49px;
                            cursor: pointer;
                            opacity: 0;
                            pointer-events: none;
                            @include transition(all 0.3s ease 0s);
                        }
                    .global-action-icon {
                        width: 43px;
                        height: 43px;
                    }
                }

                .menu-items {


                    .item-part {
                        border: none;
                        border-bottom: 1px solid var(--site-grey-type-2);
                        padding-left: 0px;
                        padding-right: 0px;

                        &:last-child {
                            border-bottom: none;
                        }

                        &.site-nav{
                            ul{
                                li{
                                    &.has-sub-menu{
                                        .sub-item-trigger{
                                            pointer-events: auto;
                                        }
                                        ul.submenu{
                                            position: fixed;
                                            left: calc(100% + 50px);
                                            top: 0px;
                                            width: calc(100% + 50px);
                                            height: 100vh;
                                            z-index: 100;
                                            background: white;
                                            opacity: 1;
                                            pointer-events: auto;
                                            padding: 115px 0 0 0;
                                            background-position: left 45% top;
                                            background-color: white;
                                            background-size: 450%;
                                            background-image: url(../Images/main-menu-bg.svg);
                                            @include transition(all .5s ease 0s);
                                            margin: -25px;
                                            margin-top: -90px;
                                            
                                            

                                            & > li{
                                                list-style: none;
                                                margin: 0px !important;
                                                padding: 0px !important;

                                                & > ul{
                                                    list-style: none;
                                                    margin: 0px !important;
                                                    padding: 0px !important;
                                                    max-height: 80vh;
                                                    overflow-y: auto;
                                                }
                                            }

                                             li{
                                                padding: 0 25px;

                                                &.has-external-link{
                                                    & > a{
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                            

                                            &.sub-open{
                                                left: 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .item-holder {
                    padding: 25px;

                    .menu-items-wrap{
                        padding-top: 65px;
                    }

                    &>.main-wrap {
                        min-width: inherit;
                        width: 100%;
                    }
                }
            }

        }

        // header

        // site-iconic-flex-form
        .site-iconic-flex-form {
            &.layout-2 {
                .form-field {
                    height: 45px;
                }
            }

            .dropdown-menu {
                .item-check-radio {
                    label {
                        font-size: 15px;
                        line-height: normal;
                    }
                }
            }

            .form-field {
                height: 45px;

                .form-btn {
                    font-size: 15px;
                    background-size: 17px;
                    background-position: right 16px center;
                    padding-left: 16px;
                    padding-right: 50px;
                }
            }

            .main-reactive-item {
                font-size: 15px;

                .text-input {
                    font-size: 15px;
                }

                i {
                    img {
                        max-width: 18px;
                    }

                    &.tab-mobile-height-img {
                        img {
                            max-width: 12px;
                        }
                    }
                }
            }

            &.responsive-view-type-1 {
                &>.main-wrap {
                    row-gap: 15px;
                }

                .form-field {
                    min-width: inherit;
                    width: 100%;
                }
            }
        }

        // site-iconic-flex-form

        // job-card-module
        .job-card-module {

            .client-logo {
                img {
                    max-width: 55px;
                }
            }

            .footer-info {
                &>.main-wrap {
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 10px;
                    column-gap: 15px;
                }

                .info-box {
                    column-gap: 15px;

                    i {
                        width: 16px;

                        img {
                            max-width: 16px;
                        }
                    }
                }
            }
        }

        // job-card-module


        // page-banner-module
        .page-banner-module {
            &+.banner-mini-slider-module {
                position: static;
                padding: 0px;
                margin-top: var(--mobile-row-gap-global);

                .main-slider-holder {
                    padding: 10px;
                    padding-right: 20px;
                }

                .slick-dots {
                    left: 0px;
                    column-gap: 10px;
                    row-gap: 10px;
                    width: 100%;
                    padding-left: 118px;
                    flex-wrap: wrap;

                    li {
                        flex-grow: 1;

                        button {
                            width: 100%;
                            height: 4px;
                        }
                    }
                }

                .main-slider-holder {
                    width: 100%;
                }

                .slider-item {
                    .context {
                        h4 {
                            font-size: 23px;
                            line-height: 33px;
                            letter-spacing: 0.46px;
                        }
                    }

                    .item-wrap {
                        column-gap: 17px;
                        row-gap: 17px;

                        .bild {
                            width: 102px;
                            height: 106px;
                            @include border-radius(20px);
                        }
                    }
                }
            }

            &.height-view-1 {
                height: calc(100vh - (var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter)));
            }

            .banner-context-item {
                text-align: center;
                width: 100%;
                padding-top: 30px;
                padding-bottom: 30px;

                .normal-text-element-module {
                    max-width: inherit;

                    .group-btn {
                        flex-direction: column;
                        row-gap: 15px;
                        display: inline-block;

                        .site-btn {
                            display: block;
                            padding-right: 50px;
                            margin-bottom: 15px;

                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }

        // page-banner-module

        // logo-stamp
        .logo-stamp {
            &.pos1 {
                &.mobile-view-1 {
                    bottom: -40px;

                    img {
                        max-width: 120px;
                    }
                }
            }

            &.pos2 {
                &.mobile-view-1 {
                    top: -50px;
                    right: 10px;

                    img {
                        max-width: 147px;
                    }
                }
            }
        }

        // logo-stamp

        // global-social-connect-links
        .global-social-connect-links {
            a {
                width: 55px;
                height: 55px;

                img {
                    max-width: 25px;
                }
            }
        }

        // global-social-connect-links


        // cover-bg-content-module
        .cover-bg-content-module {

            .operlap-context {
                &.overlap-pos-1 {
                    padding: 15px;
                }
            }

            .caption-with-link {
                padding: 15px;
            }

            &.mobile-cover-area-depnds-content {
                img {
                    &.set-back-item {
                        display: none;
                    }
                }
            }

            .the-context {
                &.alignment-view-up {
                    &.alignment-view-up-responsive-reset-to-center {
                        align-items: center;
                    }
                }
            }



        }

        // cover-bg-content-module

        // convert-to-mobile-slider-wrap
        .convert-to-mobile-slider-wrap {
            .convert-to-mobile-slider {
                .slick-list {
                    margin-left: -8px;
                    margin-right: -8px;
                    padding-right: 25px;
                    padding-left: 25px;
                    overflow: visible;
                }

                .my-col {
                    padding-left: 8px !important;
                    padding-right: 8px !important;
                }
            }
        }

        // convert-to-mobile-slider-wrap


        // team-member-video-teaser-module
        .team-member-video-teaser-module {
            margin-top: 30px;



        }

        // team-member-video-teaser-module

        // global-light-video-player
        .global-light-video-player {
            .video-trigger {
                i {
                    width: 42px;
                    height: 42px;

                }
            }
        }

        // global-light-video-player

        // .global-logo-badge
        .global-logo-badge {
            @include border-radius (14px);

            &.view-2 {
                &>.main-wrap {
                    width: 90px;
                    height: 46px;
                    
                    img{
                        max-width: 70px;
                        max-height: 40px;
                    }
                }
            }

            &.pos-1 {
                left: 9px;
                bottom: 9px;
            }

            &>.main-wrap {
                width: 95px;
                height: 58px;

                img{
                    max-width: 70px;
                    max-height: 40px;
                }
            }
        }

        // .global-logo-badge

        // global-date-badge
        .global-date-badge {
            &.pos-1 {
                top: 12px;
                right: 10px;
            }

            &>div {
                padding: 5px 11px;

                span {
                    img {
                        max-width: 12px;
                    }
                }

                i {
                    font-size: 12px;
                }
            }
        }

        // global-date-badge

        // global-carousel
        .global-carousel {
            .slider__counter {
                font-size: 21px;
                letter-spacing: 0.42px;
                column-gap: 14px;
            }

            .slick-arrow {
                width: 29.2px;
                height: 21.78px;
                background-size: 29.2px;
            }

            &.type-arrow-pagination-view-1 {
                .global-carousel-slider-navigate-wrap {
                    margin-top: 30px;
                }

                .slider-arrow-holder {
                    justify-content: center;
                    column-gap: 30px;
                }
            }

            &.type-arrow-pagination-view-2 {
                padding: 0px;
            }
        }

        // global-carousel

        // interactive-map-module
        .interactive-map-module {
            &.slider-functionality {
                .slick-slide {
                    .the-main-module {
                        @include border-radius(20px);
                        overflow: hidden;

                        .cover-bg-content-module {
                            @include border-radius(0px);
                            margin-bottom: 0px;

                            &+.normal-text-element-module {
                                padding: 15px;
                                background-color: white;

                                &.text-white {
                                    color: inherit !important;
                                }
                            }
                        }
                    }
                }
            }

            &.responsive-map-position-change-type-2 {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .map-carousel-main {
                width: 100%;
            }

            .pointer {
                .trigger {
                    width: 11.81px;
                    height: 13.21px;
                    background-size: 11.81px;
                }
            }

            .the-main-map {
                &.pos-2 {
                    left: inherit;
                    right: inherit;
                    position: relative;

                    .map-holder {
                        max-width: 100%;
                        margin-bottom: 35px;
                    }
                }
            }
        }

        // interactive-map-module




        // footer
        footer.footer {
            .footer-social-connect-links-parent {
                height: auto;
            }

            .site-essential-links {
                ul {
                    column-gap: 5px;

                    li {
                        a {
                            margin-right: 5px;
                        }
                    }
                }
            }

            .footer-social {
                padding-top: 0px;

                .strip {

                    justify-content: center;

                }
            }


            .terry-img {}

            .footer-social {
                .strip {
                    min-width: 100%;
                }
            }

            // .site-logo-holder{
            //     display: block;
            //     padding-top: 20px;
            //     .logo-part{
            //         &.logo-caption{
            //             display: block;
            //             border-top: 1px solid rgba($color: #3C4646, $alpha: 0.49);
            //             font-size: 11px;
            //             line-height: normal;
            //             padding-top: 10px;
            //             margin-top: 10px;
            //             text-align: center;
            //         }
            //     }
            // }
            .footer-contact-info {
                .global-iconic-link {
                    margin-bottom: 5px;
                }
            }

            .main-footer-item-holder {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            .site-logo-holder {
                .logo-part {
                    &.primary-logo {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        // footer

        // global-iconic-link
        .global-iconic-link-wrap {
            &.layout-flex-type-1 {
                column-gap: 25px;
                row-gap: 15px;
            }
        }

        .global-iconic-link {
            &.view-5 {
                margin-bottom: 0px;

                a,
                .main-item {
                    font-size: 15px;
                    letter-spacing: 0px;
                    column-gap: 15px;

                    i {
                        width: 20px;

                        img {
                            max-width: 20px;
                        }
                    }
                }


            }

            &.view-4 {
                margin-bottom: 15px;

                a,
                .main-item {
                    font-size: 15px;
                    letter-spacing: 0px;
                    column-gap: 12px;
                }

                i {
                    width: 20px;

                    img {
                        max-width: 20px;
                    }
                }
            }

            &.view-3 {

                a,
                .main-item {
                    font-size: 18px;
                    letter-spacing: 0.36px;
                    column-gap: 17px;
                }
            }

            a,
            .main-item {
                font-size: 15px;
                line-height: normal;
                letter-spacing: 0.3px;
                column-gap: 12px;

                i {
                    img {
                        max-width: 30px;
                    }
                }
            }

            &.view-2 {

                i {
                    width: 30px;
                    height: 30px;

                    img {
                        max-width: 14px;
                    }
                }

                a,
                .main-item {
                    font-size: 19px;
                    letter-spacing: 0.38px;
                    column-gap: 9px;
                }
            }
        }

        // global-iconic-link

        // bredcrumb-module
        .bredcrumb-module {
            ul {
                column-gap: 10px;

                li {
                    font-size: 16px;
                    letter-spacing: 0.32px;

                    a {
                        margin-right: 10px;
                    }
                }
            }
        }

        // bredcrumb-module

        // graph-module
        .graph-module {
            display: block;

            &>.main-wrap {
                column-gap: 0px;
                margin-left: -10px;
                margin-right: -10px;
                height: calc(100% - 7px);

                &>div {
                    padding: 0 10px;
                    flex-grow: 1;

                    span {
                        font-size: 10px;
                        letter-spacing: 0.2px;
                        line-height: 17px;
                    }

                    &>div {
                        width: 100%;
                        @include border-radius (20px 20px 0 0);
                    }
                }
            }
        }

        // graph-module

        // global-oval-icon-holder
        .global-oval-icon-holder {
            &>div {
                width: 58px;
                height: 75px;

                img {
                    max-width: 43px;
                }
            }

            &.view-2 {
                &>div {
                    width: 50px;
                    height: 65px;

                    img {
                        max-width: 26px;
                    }
                }
            }

            &.view-3 {
                padding: 5px;

                &.heading-type {
                    column-gap: 8px;
                    row-gap: 8px;
                }

                &>div {
                    width: 42px;
                    height: 52px;

                    img {
                        max-width: 30px;
                    }
                }
            }

            &.heading-type {
                column-gap: 8px;
                row-gap: 8px;

                .the-heading {
                    h2 {
                        font-size: 18px;
                        line-height: 26px;

                        &.md {
                            font-size: 22px;
                            letter-spacing: 0.44px;
                            line-height: normal;
                        }
                    }
                }
            }
        }

        // global-oval-icon-holder

        // global-absolute-item
        .global-absolute-item {
            .type-1 {
                padding: 15px;
            }
        }

        // global-absolute-item

        // speech-module
        .speech-module {
            .the-speech {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.4px;
            }

            .speech-mark {
                margin-bottom: 14px;

                i {
                    width: 48px;
                    height: 67px;
                    @include border-radius(38px);

                    img {
                        max-width: 24px;
                    }
                }
            }
        }

        // speech-module

        // team-member-detail-group-module
        .team-member-detail-group-module {
            .global-light-video-player {
                max-width: 145px;
                margin: 0 auto;
            }
        }

        // team-member-detail-group-module

        // site-accordion
        .site-accordion {
            .accordion-header {
                button {
                    font-size: 15px;
                    line-height: 25px;
                    padding-right: 60px;

                    &:after {
                        width: 20px;
                        height: 20px;
                        background-size: 20px;
                        margin-top: -10px;
                        right: 25px;
                    }
                }
            }
        }

        // site-accordion
        // cover-bg-content-module
        .cover-bg-content-module {
            &.static-banner {
                min-height: 500px;

                &.layout-2 {
                    min-height: 670px;
                }
            }


        }

        // cover-bg-content-module

        // global-tip
        .global-tip {
            &.pos-1 {
                left: -12px;
                top: -5px;
            }

            .the-tip {
                min-width: 28px;
                height: 28px;
                font-size: 22px;
                letter-spacing: 0.44px;
                line-height: 28px;

                img {
                    max-width: 15px;
                }
            }
        }

        // global-tip

        // global-sticker
        .global-sticker {
            &.pos-1 {
                &.responsive-view-1 {
                    position: static;
                    width: 100%;
                    display: grid;
                    justify-content: center;

                    img {
                        max-width: 142px;
                    }
                }
            }
        }

        // global-sticker

        // site-form-view-layout-1
        .site-form-view-layout-1 {
            font-size: 15px;
            letter-spacing: 0px;

            .fieldwrap {
                height: 42px;

                .text-input,
                .form-control {
                    font-size: 14px;
                    padding: 0 15px;
                }

                &.height-view-2 {
                    height: 50px;
                }

                .main-field {
                    &.has-iconic-btn-holder {
                        .the-absolute-btn {
                            width: 40px;
                            height: 40px;
                            background-size: 40px;
                            margin-top: -20px;
                            right: 5px;
                        }
                    }
                }

                .text-input {
                    font-size: 15px;
                    letter-spacing: 0px;
                    padding: 0 15px;

                    &.has-iconic-btn {
                        padding-right: 60px;
                    }
                }

                label {
                    font-size: 10px;
                    padding: 8px;
                    left: 5px;
                    top: -12px;
                }

                &.specific-width-type-1,
                &.specific-width-type-2 {
                    width: 100%;
                }

                .dropdown {
                    .dropdown-menu {
                        li {
                            font-size: 15px;
                            letter-spacing: 0px;
                        }
                    }

                    .dropdown-toggle {
                        font-size: 15px;
                        padding-right: 35px;
                        padding-left: 15px;

                        &:after {
                            width: 16.73px;
                            height: 8.58px;
                            background-size: 16.73px;
                            margin-top: -4px;
                            right: 14px;

                        }
                    }
                }
            }
        }

        // site-form-view-layout-1











    }
}

// for tab mobile

// from desktop to tab
@media screen and (min-width: $md) {
    .terras {
        .global-carousel{
            &.hide-counter-desktop-tab{
                .slider__counter{
                    display: none;
                }
            }
        }
    }

}
// from desktop to tab

// from less lowsesktop to tab
@media screen and (max-width: ($xl - 1px)) and (min-width: $md) {
    .terras {

        // basic
        .mobile-global-mx-padding {
            padding-left: 50px;
            padding-right: 50px;
        }

        

        .inset-container-type-1,
        .inset-cotainer-tylpe-1,
        .inset-container-type-2,
        .tab-center,
        .inset-container-type-3,
        .inset-container-type-4,
        .inset-container-type-7,
        .inset-container-type-6 {
            max-width: 600px;
        }

        .only-tab-half-width-parent {

            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;

            &.mobile-full-height-remove {
                &.full-height {
                    height: 100%;
                }
            }

            &>.only-tab-half-width {
                width: calc(50% - 5px);
                height: 100% !important;
            }
        }

        // basic

        // typography
        h1{
            &.lg{
                // font-size: 90px;
                // line-height: 110px;
            }
        }

        // graph-module
        .graph-module {
            &>.main-wrap {
                &>div {
                    span {
                        font-size: 22px;
                    }
                }
            }
        }

        // graph-module

        // team-member-detail-group-module
        .team-member-detail-group-module {
            .global-light-video-player {
                max-width: 300px;
            }
        }

        .small-image-teaser-mobile {
            max-width: 300px;
        }

        // team-member-detail-group-module



        // global-carousel
        .global-carousel {
            &.view-upcoming-glimps-type-1 {
                .slick-list {
                    padding-right: 50px !important;
                }
            }

            &.mobile-slider-flow-visible {
                .slick-list {
                    overflow: hidden;
                }

                &.single-column-global-carousel {
                    .slick-list {
                        padding-right: 0px;
                    }
                }
            }
        }

        // global-carousel



        // traingle-watermark-has
        .traingle-watermark-has {
            &.traingle-view-2 {
                .the-mask-img {
                    width: 45vw;
                }

                .mask-it {
                    mask-size: 45vw;
                }

                &.mask-size-2 {
                    .the-mask-img {
                        width: 52vw;
                    }

                    .mask-it {
                        mask-size: 52vw;
                    }
                }
            }

            &.traingle-view-1 {
                .mask-it {
                    display: block;
                }
            }
        }

        // traingle-watermark-has


        // main-menu-expanded
        .main-menu-expanded {
            .item-holder {
                padding: 30px 50px;
            }

            .main-menu-service-items {
                align-items: center;

                &>div {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .global-item-part {
                    width: 50% !important;

                    &.floating-menu-social-links {
                        margin-left: auto;
                    }
                }
            }
        }

        // main-menu-expanded

        // graph-module
        .graph-module {
            height: 200px;
        }

        // graph-module

        //  blog-search-banner-module
        .blog-search-banner-module {
            .site-form-view-layout-1 {
                .fieldwrap {
                    &.specific-width-type-2 {
                        width: 355px;
                        margin: 0 auto;
                    }
                }
            }
        }

        //  blog-search-banner-module


        // footer
        footer.footer {
            .footer-social {
                max-width: 520px;
            }

            .footer-newsletter {
                max-width: 430px;
            }


            .site-logo-holder {
                display: flex;
                column-gap: 20px;
                align-items: center;

                .logo-part {
                    padding-right: 20px;
                    border-right: 1px solid rgba(60, 70, 70, 0.49);

                    &.primary-logo {
                        img {
                            max-width: 130px;
                        }
                    }

                    &:last-child {
                        border-right: none;
                        padding-right: 0px;
                    }

                    &.logo-caption {
                        display: block;
                        font-size: 14px;
                        line-height: normal;
                    }
                }
            }
        }

        // footer

        // page-banner-module
        .page-banner-module {
            &.height-view-1 {
                height: calc(100vh - (var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter) + 40px));
            }

            .banner-context-item {
                padding: 50px;

                .normal-text-element-module {
                    .group-btn {
                        flex-direction: inherit;
                        column-gap: 20px;
                        row-gap: 20px;
                        justify-content: center;

                        .site-btn {
                            width: auto;
                        }
                    }
                }
            }

            .banner-mini-slider-module {
                position: static;
                padding: 0px;
                margin-top: 45px;

                .slick-dots {
                    left: 0px;
                    column-gap: 10px;
                    row-gap: 10px;
                    width: 100%;
                    padding-left: 134px;
                    flex-wrap: wrap;

                    li {
                        flex-grow: 1;

                        button {
                            width: 100%;
                            height: 4px;
                        }
                    }
                }

                .main-slider-holder {
                    width: 330px;
                    margin: 0 auto;
                    text-align: left;

                    & * {
                        color: var(--site-text-color-dark) !important;
                        text-align: left;
                    }
                }
            }
        }

        // page-banner-module

        // global-light-video-player
        .global-light-video-player {
            .video-trigger {
                i {
                    width: 65px;
                    height: 65px;
                }
            }
        }

        // global-light-video-player

        // logo-stamp
        .logo-stamp {
            &.pos1 {
                &.mobile-view-1 {
                    bottom: -60px;

                    img {
                        max-width: 186px;
                    }
                }
            }
        }

        // logo-stamp

        // global-iconic-link
        .global-iconic-link {
            &.view-2 {

                a,
                .main-item {
                    font-size: 32px;
                    column-gap: 15px;
                }

                i {
                    width: 50px;
                    height: 50px;

                    img {
                        max-width: 25px;
                    }
                }
            }
        }

        // global-iconic-link



        // interactive-map-module
        .interactive-map-module {

            .map-carousel-main {
                width: 400px;
                margin: 0 auto;
            }

            .the-main-map {
                .map-holder {
                    max-width: 450px;
                }

                &.pos-2 {
                    .map-holder {
                        max-width: 450px;
                    }
                }
            }

            .pointer {
                .trigger {
                    width: 22.72px;
                    height: 19.66px;
                    background-size: 22.72px;
                }
            }
        }

        // interactive-map-module

        // global-flitcky-carousel
        .global-flitcky-carousel {
            padding: 0 50px;

            &.logo-carousel {
                .item {
                    width: 20%;
                }
            }

            .flickity-viewport {
                overflow: hidden;
            }

            .flickity-button {
                display: block;
                width: 35px;
                height: 26px;
                background-size: 35px;

                &.previous {
                    left: 0px;
                }

                &.next {
                    right: 0px;
                }
            }
        }

        // global-flitcky-carousel





    }
}

// for mobile only
@media screen and (max-width: ($md - 1px)) {
    .terras {



        


        .only-mobile-global-mx-padding{
            padding-left: 20px;
            padding-right: 20px;
        }

        img {
            &.only-mobile-full-width-img {
                width: 100%;
                height: auto;
            }
        }

        .mobile-text-center-mobile-only {
            text-align: center;
        }

        // graph-module
        .graph-module {
            height: 134px;
        }

        // graph-module

        // page-banner-module
        .page-banner-module {
            &.height-view-1 {
                &.mobile-height-view-2 {
                    height: calc(100vh - (var(--header-height-mobile) + var(--mobile-header-top-bottom-gutter) + 40px));
                }
            }
        }

        // page-banner-module

        // site-iconic-flex-form
        .site-iconic-flex-form {
            &.responsive-view-type-1-mobile-only {
                &>.main-wrap {
                    row-gap: 15px;
                }

                .form-field {
                    min-width: inherit;
                    width: 100%;
                }
            }
        }

        // site-iconic-flex-form

        // stand-alone-contact-info-module
        .stand-alone-contact-info-module {
            flex-direction: column;
            column-gap: 14px;
            row-gap: 14px;

            .dp {
                width: 73px;
                height: 104px;

                img {
                    max-width: 73px;
                    max-height: 104px;
                }
            }
        }

        // stand-alone-contact-info-module



        .global-iconic-link-wrap {
            &.layout-flex-type-1 {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        // footer
        footer.footer {
            .site-logo-holder {
                display: block;
                padding-top: 20px;

                .logo-part {
                    &.logo-caption {
                        display: block;
                        border-top: 1px solid rgba($color: #3C4646, $alpha: 0.49);
                        font-size: 11px;
                        line-height: normal;
                        padding-top: 10px;
                        margin-top: 10px;
                        text-align: center;
                    }
                }
            }
        }

        // footer
    }
}