// fonts
:root{
    --site-secondary-font: 'Fjalla One';
}


// size
:root{
    --header-height: 103px
}







// colors
:root{
    --site-text-color-dark: #1B2020;
    --site-global-grey: #F2F2F2;
}

// grid
:root{
    --grid-gutter: 20px;
}
