// fonts
:root{
    --site-primary-font: 'Roboto';
    --site-primary-font-medium: 500;
    --site-primary-font-light: 300;
    --site-primary-font-bold: bold;
    --site-primary-font-thin: 100;
    --site-primary-font-black: 900;
    --site-primary-font-regular: normal;
    --site-secondary-font: 'Fjalla One';
}


// size
:root{
    --header-height: 103px;
    --header-height-mobile: 50px;
    --mobile-header-top-bottom-gutter: 28px;
}







// colors
:root{
    --site-text-color-dark: #1B2020;
    --site-text-color-dark-ver-lighter: #3C4646;
    --site-global-dark: #1B2020;
    --site-global-dark-ver-lighter: #3C4646;
    --site-global-grey: #F2F2F2;
    --site-grey-type-2: #C6C6C6;
    --site-grey-type-3: #DCDEE2;
    --site-grey-type-4: #898989;
    --site-primary-color: #FF211A;
}

// grid
:root{
    --grid-gutter: 20px;
    --mobile-row-gap-global: 12px;
}


// special vars
$global-mx-padding: 76px;
$global-mx-padding-low-desktop: 50px;

// grid brteak points clone framwork
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// grid brteak points custom
$lgDesktopEnds: 1600px;
$lowResDesktopEnds: 1366px;
