// fonts
:root{
    --site-primary-font: 'Roboto';
    --site-primary-font-medium: 500;
    --site-primary-font-light: 300;
    --site-primary-font-bold: bold;
    --site-primary-font-thin: 100;
    --site-primary-font-black: 900;
    --site-primary-font-regular: normal;
    --site-secondary-font: 'Fjalla One';
}


// size
:root{
    --header-height: 103px
}







// colors
:root{
    --site-text-color-dark: #1B2020;
    --site-text-color-dark-ver-lighter: #3C4646;
    --site-global-dark: #1B2020;
    --site-global-dark-ver-lighter: #3C4646;
    --site-global-grey: #F2F2F2;
    --site-grey-type-2: #C6C6C6;
    --site-primary-color: #FF211A;
}

// grid
:root{
    --grid-gutter: 20px;
}
