@font-face {
    font-family: 'Fjalla One';
    src: url('FjallaOne-Regular.woff2') format('woff2'),
        url('FjallaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

